In [ ]:
# loop

## for loop

In [1]:
for i in range(1,6): # 6ku manadi varaikum than print agum n-1 
    print(i)

1
2
3
4
5

In [2]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [3]:
for i in range(1,6):
    print("hello world")

hello world
hello world
hello world
hello world
hello world

In [5]:
for i in range(1,6):
    print(f"{i}--> hello world")

1--> hello world
2--> hello world
3--> hello world
4--> hello world
5--> hello world

In [9]:
for i in range(5):
    print(i)

0
1
2
3
4

In [10]:
for i in range(1,11,2):  # 1 start,11 stop,2 step
    print(i)

1
3
5
7
9

In [1]:
for i in range(1,20,4):  # last one enna digit kudukoromo aithana value vetu print agum
    print(f"{i} -->hello world")

1 -->hello world
5 -->hello world
9 -->hello world
13 -->hello world
17 -->hello world

# find the odd or even

In [2]:
for i in range(1,21):
    if(i%2==0):
        print(f"{i} is the even number")
    else:
        print(f"{i} is the odd number")

1 is the odd number
2 is the even number
3 is the odd number
4 is the even number
5 is the odd number
6 is the even number
7 is the odd number
8 is the even number
9 is the odd number
10 is the even number
11 is the odd number
12 is the even number
13 is the odd number
14 is the even number
15 is the odd number
16 is the even number
17 is the odd number
18 is the even number
19 is the odd number
20 is the even number

## empty odd or even

In [4]:
odd=0
even=0
odd_1=[]
even_1=[]
for i in range(1,21):
    if (i%2==0):
        even=even+1
        even_1.append(i)
    else:
        odd=odd+1
        odd_1.append(i)
print(f"{even} total even number isthe range b 1 to 21")
print(f"{odd} total odd number is the range b1 to 21")
print(odd_1)
print(even_1)

10 total even number isthe range b 1 to 21
10 total odd number is the range b1 to 21
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [17]:
odd=0
even=[]
for i in range(1,101):
    if (i%3==0 and i%5==0):
        odd=odd+1
        even.append(i)
print(f"{odd} total number ")
print(even)

6 total number
[15, 30, 45, 60, 75, 90]

In [1]:
a=[10]
b=a
a.append(20)
print(b)

[10, 20]

# nested if for loop

In [4]:
for i in range(1,11):
    for j in range(1,6):
        for k in range(1,4):
              print(i,j,k)

1 1 1
1 1 2
1 1 3
1 2 1
1 2 2
1 2 3
1 3 1
1 3 2
1 3 3
1 4 1
1 4 2
1 4 3
1 5 1
1 5 2
1 5 3
2 1 1
2 1 2
2 1 3
2 2 1
2 2 2
2 2 3
2 3 1
2 3 2
2 3 3
2 4 1
2 4 2
2 4 3
2 5 1
2 5 2
2 5 3
3 1 1
3 1 2
3 1 3
3 2 1
3 2 2
3 2 3
3 3 1
3 3 2
3 3 3
3 4 1
3 4 2
3 4 3
3 5 1
3 5 2
3 5 3
4 1 1
4 1 2
4 1 3
4 2 1
4 2 2
4 2 3
4 3 1
4 3 2
4 3 3
4 4 1
4 4 2
4 4 3
4 5 1
4 5 2
4 5 3
5 1 1
5 1 2
5 1 3
5 2 1
5 2 2
5 2 3
5 3 1
5 3 2
5 3 3
5 4 1
5 4 2
5 4 3
5 5 1
5 5 2
5 5 3
6 1 1
6 1 2
6 1 3
6 2 1
6 2 2
6 2 3
6 3 1
6 3 2
6 3 3
6 4 1
6 4 2
6 4 3
6 5 1
6 5 2
6 5 3
7 1 1
7 1 2
7 1 3
7 2 1
7 2 2
7 2 3
7 3 1
7 3 2
7 3 3
7 4 1
7 4 2
7 4 3
7 5 1
7 5 2
7 5 3
8 1 1
8 1 2
8 1 3
8 2 1
8 2 2
8 2 3
8 3 1
8 3 2
8 3 3
8 4 1
8 4 2
8 4 3
8 5 1
8 5 2
8 5 3
9 1 1
9 1 2
9 1 3
9 2 1
9 2 2
9 2 3
9 3 1
9 3 2
9 3 3
9 4 1
9 4 2
9 4 3
9 5 1
9 5 2
9 5 3
10 1 1
10 1 2
10 1 3
10 2 1
10 2 2
10 2 3
10 3 1
10 3 2
10 3 3
10 4 1
10 4 2
10 4 3
10 5 1
10 5 2
10 5 3

In [7]:
name="nexila"
for i in "nexila":
    print(i)

n
e
x
i
l
a

In [10]:
name=['nexila','tech','chennai']
for i in name:
    for j in i:
       print(j)

n
e
x
i
l
a
t
e
c
h
c
h
e
n
n
a
i

In [ ]:
# index

In [1]:
a=[1,2,3,4,5,6,7,8,9,10]
print(a[2])
print(a[9])

3
10

In [3]:
my_list=[1,2,3,4,5]
largest=my_list[0]
for num in my_list:
    if num>largest:
        largest=num
print(largest)

5

In [4]:
my_list=[1,2,3,4,5]
small=my_list[0]
for num in my_list:
    if num<small:
        small=num
print(small)

1

In [2]:
a=[1,2,3,4,5]
b=['hema',"True",2.2,12]
print(b[1][2])

u

In [3]:
a=[1,2,3,4,5]
print(type(a))

<class 'list'>

In [4]:
a=(1,2,3,4,5)
print(type(a))

<class 'tuple'>

In [5]:
a={1,2,3,4,5}
print(type(a))

<class 'set'>

In [16]:
dict={1:'hema'}
print(type(dict))
print(dict[1])

<class 'dict'>
hema

In [29]:
student_details={
                  'name':'hema',
                   'age':20,
                   'dob':'04-08-2005',
                   'dept':'cs'
                 }
print(student_details['name'])

hema