# function

In [3]:
def add():
    a=10
    b=20
    print(a+b)
add()

30

In [5]:
def add():
    a=10
    b=20
    print(a+b)
print(5)
add()

5
30

In [9]:
def sub():
    a=10
    b=20
    print(a-b)
sub()

-10

In [10]:
def mul():
    a=10
    b=20
    print(a*b)
mul()

200

In [11]:
def div():
    a=10
    b=20
    print(a/b)
div()

0.5

In [13]:
mul()
div()
add()
mul()

200
0.5
30
200

### parrametrs and argumenrts

In [7]:
def add(a,b):  #  a,b is a parameter
    print(a+b)
add(10,20)    # add(10,20) is a argument

def sub(a,b):
    print(a-b)
sub(10,20)

def mul(a,b):
    print(a*b)
mul(10,20)

def div(a,b):
    print(a/b)
div(10,20)

def mod(a,b):
    print(a%b)
mod(10,20)

30
-10
200
0.5
10

In [17]:
def add(child_2,child_3,child_1):
    print("the youngest child is",child_3)
add(child_1="A",child_2="B",child_3="C")

the youngest child is C

In [5]:
def add(a,b,c):
  print("the youngest letter is ",a)
add(a="hema",b="priya",c="divya")

the youngest letter is  hema

In [8]:
def add(child_2,child_3,child_1):
    print("the biggest child is",child_1)
add(child_1="A",child_2="B",child_3="C")

the biggest child is A

## function odd or even

In [13]:
def odd_or_even(i):
    if (i%2==0):
        print("even")
    else:
        print("odd")
odd_or_even(10)

even

In [15]:
def odd_or_even(i):
    if (i%2==0):
        print("even")
    else:
        print("odd")
odd_or_even(int(input("enter your number:")))

enter your number: 3

odd

## over writing

In [16]:
def show_country(city,country='india'):
    print(f"{city} is in {country}")
show_country("chennai")

chennai is in india

In [17]:
def show_country(city,country='india'):
    print(f"{city} is in {country}")
show_country("chennai")
show_country("paris","france")

chennai is in india
paris is in france

In [1]:
def show_country(city,country='india'):
    print(f"{city} is in {country}")
show_country("chennai")
coun="france"
show_country("paris",coun)

chennai is in india
paris is in france

In [22]:
def show_country(city,country='india'):
    print(f"{city} is in {country}")
show_country("chennai","city")
coun="france"
show_country("paris",coun)

chennai is in city
paris is in france

In [25]:
def my_func(*argv):  # * all value to store the output
    for i in argv:
        print(i)
my_func('hi','my','name','raj','chennai','city')

hi
my
name
raj
chennai
city

In [32]:
def my_func(*argv):  # * all value to store the output
    for i in argv:
        print(i)
    print("my name is",argv[3])
my_func('hi','my','name','raj','chennai','city')

hi
my
name
raj
chennai
city
my name is raj

In [33]:
def my_func(*kids):  # * all value to store the output
    for i in kids:
        print(i)
my_func('hi','my','name','raj','chennai','city')   # step by step process ku for loop use pananum

hi
my
name
raj
chennai
city

In [37]:
def my_country(country="india"):
   print("i am from",country)
my_country("sivesan")
my_country("newsaln")
my_country()
my_country("norway")
my_country()

i am from sivesan
i am from newsaln
i am from india
i am from norway
i am from india

In [44]:
def oddeven(x):
    """the program was succesfully executed and the output was verified"""
print(oddeven.__doc__)

the program was succesfully executed and the output was verified

In [48]:
def f1():
    def f2():
        def f3():
            print("hi,f3")
        f3()
        print("hi,f2")
    f2()
    print("hi,f1")
f1()

hi,f3
hi,f2
hi,f1

In [50]:
def f1():
    def f2():
        def f3():
            print("hi,f3")          # 
        print("hi,f2")          
        f3()
    print("hi,f1")    
    f2()
print("the loop starts here:")
f1()

the loopstarts here:
hi,f1
hi,f2
hi,f3

In [54]:
def f1(a):
    print(a)                        #  first f1 and f2 
    a="i am a data analyst"
    print(a)
    def f2():
        a=" i am a data scientist"
        print(a)
    f2()
a="data engineer"
f1(a)
print("the find a value:",a)

data engineer
i am a data analyst
 i am a data scientist
the find a value: data engineer

In [4]:
def f1():
    s="iam a data scientist"
    def f2():
        s="i am a data analytist"
        print(s)
    f2()
f1()

i am a data analytist

In [1]:
def f1():
    s="i am a data scientist"
    print(s)
    def f2():
        s="i am a data analytist"
        print(s)
    f2()
f1()

i am a data scientist
i am a data analytist