# print statement
### string---""
### integer---2
### float---12.5
### boolean--true false

In [2]:
print("hello world")

hello world

In [3]:
print("hema")

hema

In [4]:
print("true")

true

# variable

In [5]:
a=5
print(a)

5

In [6]:
print('hello')

hello

In [7]:
a==5
print(a)

5

In [8]:
a==4
b==3
b==a
print(b)

NameError: name 'b' is not defined

In [9]:
a==4
4==2
b==3
print(a)

NameError: name 'b' is not defined

In [16]:
a == b
a = 4
b = 3
print(a)

4

In [17]:
print(hello world)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2497053111.py, line 1)

In [18]:
print"hello world"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (3346677203.py, line 1)

In [10]:
#task1
driver_name="raja" #string
pickup_point="mudichur" #string
drop_point="thambaram" #string
distance="6km" #integer string
timing="10:30"  #string
fare=250  #integer
vechicle="auto"#string
status=True  #boolean

In [15]:
print(driver_name)

raja

In [11]:
print(pickup_point)
print(drop_point)
print(distance)
print(timing)
print(fare)
print(vechicle)
print(status)

mudichur
thambaram
6km
10:30
250
auto
True

In [23]:
print(type(pickup_point))

<class 'str'>

In [24]:
print(type(drop_point))

<class 'str'>

In [12]:
print(type("6km"))
print(type("10:30"))
print(type(250))
print(type("auto"))
print(type(status))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'bool'>

In [29]:
print(driver_name)

raja

In [37]:
print(status)

true

In [1]:
a=5
b=5
print(a+b)

10

In [2]:
a="5"
b="5"
print(a+b) #same answer

55

In [4]:
a='5'
b='5'
print(a+b)# same answer

55

In [13]:
print(type(status))

<class 'bool'>

In [16]:
name="hema"
print("welcome to the course",name)

welcome to the course hema

In [17]:
age=20
print("welcome to the course",age)

welcome to the course 20

In [25]:
name="hema"
age=20
college="myd"
print(" the name of the student",name,"the age of the student",age,"the student of the college",college)

 the name of the student hema the age of the student 20 the student of the college myd

In [27]:
name="hema"
age=20
college="myd"
print("the name of the student is",name,"\n the age of the student is",age,"\nthe student of the college",college)

the name of the student is hema
 the age of the student is 20
the student of the college myd

In [24]:
print(f"the name of the student is {name} and the age of the student {age}")

the name of the student is hema and the age of the student 20

In [32]:
print(f"the name of the student is {name} \n the age of the student {age} \n the student of the college {college}")

the name of the student is rajasri
 the age of the student 20
 the student of the college myd

In [28]:
name="hema"
print(name)

hema

In [29]:
name=input()
print(name)

 rajasri

rajasri

#  inputs

In [1]:
name=input("enter your name:")
print(name)

enter your name: hema

hema

In [2]:
print(type(name))

<class 'str'>

In [4]:
number=input("enter your number:")
print(number)

enter your number: 34

34

In [5]:
print(type(number))

<class 'str'>

In [6]:
age=int(input("enter your age:"))
print(age)

enter your age: 20

20

In [7]:
print(type(age))

<class 'int'>

In [8]:
salary=float(input("enter your salary:"))
print(salary)

enter your salary: 2000.00

2000.0

In [9]:
print(type(salary))

<class 'float'>

In [10]:
status=bool(input("enter your status:"))
print(status)

enter your status: True

True

In [11]:
print(type(status))

<class 'bool'>

### operators

In [12]:
a=10
b=2
print(a+b)
print(a-b)
print(a/b)
print(a*b)
print(a%b)
print(a//b)
print(a**b)

12
8
5.0
20
0
5
100

### relationship operator

In [1]:
a=10
b=20
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True
False
True

###  logical operator

### and or not

# statement

## conditional statement

In [17]:
age=20
if(age>=18):
    print("you are eligible")
else:
    print("you are not eligible")

you are eligible

In [1]:
age= int(input("enter your age:"))
if(age>=18):
    print("you are eligible")
else:
    print("you are not eligible")

enter your age: 20

you are eligible

In [9]:
age=17
if(age>18):
    print("you are eligible")
else:
    print("you are not eligible")

you are not eligible

### inputs la 2 part

In [6]:
a=int(input("enter your first number:"))
b=int(input("enter your second number:"))

enter your first number: 25
enter your second number: 30

# positive negative

In [1]:
num=int(input())
if(num>0):
    print("positive number")
else:
    print("negatine")

 4

positive number

In [2]:
num=int(input())
if(num>0):
    print("positive")
else:
    print("negative")

 -1

negative

# odd or even

In [4]:
num=int(input())
if(num%2==0):
    print(f"{num} is divisible by 2,even number") # input la 22 kudutha even print agum
else:
    print(f"{num} is divisible by 2,odd number")

 33

33 is divisible by 2,odd number

### simple pass or fail

In [6]:
mark=int(input())
if(mark>50):
    print("pass")
else:
    print("fail")

 55

pass

#  grade calculator

In [2]:
mark=int(input("enter the mark:"))   #  or mark=int(input()) nu kudukalam
if(mark>=91 and mark<=100):
    print(f"{mark} grade o ")
elif(mark>=81 and mark<=90):
    print(f" {mark} grade A+")
elif(mark>=71 and mark<=80):
    print(f"{mark} grade A")
elif(mark>=61 and mark<=70):
    print(f"{mark} grade B+")
elif(mark>=51 and mark<=60):
    print(f"{mark} grade B")
elif(mark<50):
    print(f"{mark} fail")
else:
    print("invalid mark")

enter the mark: 89

 89 grade A+

#  find the largest

In [15]:
a=float(input("enter any number:"))
b=float(input("enter any number:"))
c=float(input("enter any number:"))
if(a>b and a>b):
    print("a is biggest value")
elif(b>a and b>c):
    print("b is biggest value")
elif(c>a and c>b):
    print("c is biggest value")

enter any number: 10.3
enter any number: 12.4
enter any number: 14.8

c is biggest value

# vowels

In [20]:
char=input("enter the letter:").lower()  # UPPER()
if char in('a','e','i','o','u'):
    print("vowels")
else:
    print("consonent")

enter the letter: A

vowels

In [1]:
char=input("enter the letter:") #input la no vowel char kudutha consonent  varum
if char in ('a','e','i','o','u'):
    print("vowels")
else:
    print("consonent")

enter the letter: e

vowels

# password checker

In [3]:
password=input("enter your password")  # password la char  and number kudutha strong password nu print agum
if(len(password)<=8):
    print(f"{password} is weak password")
elif(len(password)>9):
    print(f"{password} is strong password")

enter your password hema@04r05

hema@04r05 is strong password

# num call if and elif statement

In [1]:
num1=int(input("enter any number"))
num2=int (input("enter any number"))
op=input("enter any operator(+,-,*,/,:)")
if(op=='+'):
    print(f"{num1},{num2} result is{num1+num2}")
elif(op=='-'):
     print(f"{num1},{num2} result is {num1-num2}")
elif(op=='*'):
    print(f"{num1},{num2} result is {num1*num2}")
elif(op=='/'):
    print(f"{num1},{num2} result is {num1/num2}")
elif(op=='%'):
    print(f"{num1},{num2} result is{num1%num2}")
else:
    print("invaild opertor,pls select valid operator") # last ta + ku pathila &op kudutha invalid op varum

enter any number 20
enter any number 10
enter any operator(+,-,*,/,:) +

20,10 result is30

# check the triangle is valid or not

In [3]:
angle1=int(input("enter any number:"))
angle2=int(input("enter any number:"))
angle3=int(input("enter any number:"))
if(angle1+angle2+angle3==180):
    print("valid triangle")
else:
    print("invalid triangle")

enter any number: 30
enter any number: 60
enter any number: 90

valid triangle