# 1.Print "Hello, World!" to the console.

In [1]:
print("hello,world!")

hello,world!

# 2.Print your name 10 times using a for loop.

In [4]:
for i in range(1,11):
    print("hema")

hema
hema
hema
hema
hema
hema
hema
hema
hema
hema

# 3.Print the numbers from 1 to 10 using a while loop.

In [6]:
a=1
while(a<=10):
    print(a)
    a=a+1
else:
    print("loop finished!")

1
2
3
4
5
6
7
8
9
10
loop finished!

# 4.Print the numbers from 10 to 1 (in reverse) using a for loop.

In [15]:
for  i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

# 5.Print the even numbers from 1 to 20.

In [18]:
for i in range(1,21):
    if(i%2==0):
        print(i)

2
4
6
8
10
12
14
16
18
20

# 6.Print the multiplication table for the number 5 (up to 10).

In [29]:
for i in range(1,11):
    print(i,"x5=",i*5)

1 x5= 5
2 x5= 10
3 x5= 15
4 x5= 20
5 x5= 25
6 x5= 30
7 x5= 35
8 x5= 40
9 x5= 45
10 x5= 50

# 7.Calculate the sum of numbers from 1 to 100 and print the result.

In [30]:
n=100
sum_num=n*(n+1)//2
print("sum of numbers:",sum_num)

sum of numbers: 5050

# 8.Calculate the factorial of a given number (e.g., 5! = 120).

In [35]:
count = 1
for i in range(1, 6):
    count = count*i
    print(f"{number} = {count}")

5 = 1
5 = 2
5 = 6
5 = 24
5 = 120

In [5]:
count = 1
for i in range(1, 6):
    count = count*i
print(f"{i}  = {count}")

5  = 120

# 9.Print the Fibonacci sequence up to the n-th term (e.g., n=7: 0, 1, 1, 2, 3, 5, 8).

In [9]:
n=int(input("enter the number:"))
a,b=0,1
count=0
while count<n:
    print(a,end="")
    a,b=b,a+b
    count+=1

enter the number: 7

0112358

# 10.Check if a given number is prime. Print "Prime" or "Not Prime".

In [67]:
n=int(input("enter the number:"))
for i in range(2,n):
 if(n%i==0):
   print(" not prime number")
   break
else:
  print(" prime number")

enter the number: 4

 not prime number

In [66]:
n=int(input("enter the number:"))
for i in range(2,n):
 if(n%i==0):
   print(" not prime number")
   break
else:
  print(" prime number")

enter the number: 13

 prime number

# 11.Print all prime numbers between 1 and 50.

In [76]:
for i in range(1,51):
 count=0
 if(i%2==0):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

# 12.Find the largest of three numbers entered by a user (using input()).

In [77]:
x=int(input("enter the number:"))
y=int(input("enter the number:"))
z=int(input("enter the number:"))
if(x>y and x>z):
    print("x is the largest number")
elif(y>z and y>x):
    print(" y is the largest number")
elif(z>x and z>y):
    print("z is the largest number")

enter the number: 45
enter the number: 55
enter the number: 78

z is the largest number

# 13.Check if a number is positive, negative, or zero.

In [5]:
n=int(input("enter the number:"))
if(n>0):
    print("positive")
elif(n<0):
    print("negative")
else:
    print("zero")

enter the number: 1

positive

In [6]:
n=int(input("enter the number:"))
if(n>0):
    print("positive")
elif(n<0):
    print("negative")
else:
    print("zero")

enter the number: -1

negative

In [9]:
n=int(input("enter the number:"))
if(n>0):
    print("positive")
elif(n<0):
    print("negative")
else:
    print("zero")

enter the number: 00

zero

# 14.Check if a given year is a leap year

In [18]:
year=int(input("enter the year:"))
if(year%4==0 and year%100!=0) or (year%400==0):
    print(f"{ year}leap year")
else:
    print(f"{year}not leap year")

enter the year: 2024

2024leap year

In [19]:
year=int(input("enter the year:"))
if(year%4 == 0 and year%100!=0) or (year%400==0):
    print(f"{ year}leap year")
else:
    print(f"{year}not leap year")

enter the year: 2025

2025not leap year

# 15.Print the squares of numbers from 1 to 10.

In [10]:
for n in range(1,11):
 square=n**2
 print(f"{n} is {square}")

1 is 1
2 is 4
3 is 9
4 is 16
5 is 25
6 is 36
7 is 49
8 is 64
9 is 81
10 is 100

# 16.Find the sum of all even numbers between 1 and n.

In [29]:
n=int(input("enter the number:"))
sum_even=0
for i in range(2,n+1,2):
   sum_even+=i
   print(f"{i} {sum_even}")

enter the number: 16

2 2
4 6
6 12
8 20
10 30
12 42
14 56
16 72

In [36]:
n=int(input("enter the number:"))
sum_even=0
for i in range(2,n+1,2):
 sum_even+=i
 print(f" {sum_even}")

enter the number: 16

 2
 6
 12
 20
 30
 42
 56
 72

# 17.Reverse a given number (e.g., 1234 becomes 4321).

In [49]:
normal_str="1234"
reverse_str=normal_str[::-1]
print(f"{normal_str} {reverse_str}")

1234 4321

# 18.Check if a number is a palindrome (reads the same forwards and backwards).

In [55]:
normal_str="amma"
if(normal_str == normal_str[::-1]):
  print("palindrome")
else:
  print("not palindrome")

palindrome

In [58]:
normal_str=str(input("enter the palin:"))
if(normal_str == normal_str[::-1]):
  print("palindrome")
else:
  print("not palindrome")

enter the palin: mom

palindrome

# 19.Check if a number is an Armstrong number (sum of its digits raised to the power of the number of digits).

In [4]:
num=input("enter the number:")
sum=0
for i in num:
    sum+=int(i)**3
if(sum==int(num)):
  print("amstrong")
else:
  print("not armstrong")

enter the number: 153

amstrong

In [6]:
num=input("enter the number:")
sum=0
for i in num:                                        
    sum+=int(i)**3
if(sum==int(num)):
  print("amstrong")
else:
  print("not armstrong")

enter the number: 225

not armstrong

# 20.Convert a binary number (as a string, e.g., "1010") to its decimal equivalent.

In [22]:
binary_str = "1010"
decimal_value = int(binary_str, 2)
print(f"Decimal_equivalent:",decimal_value)

Decimal_equivalent: 10

# 21.Convert a decimal number to binary (as a string).

In [34]:
decimal_num=10
binary_str = bin(decimal_num)[2:]
print(f"{decimal_num}:",{binary_str})

10: {'1010'}

# 22.Find the GCD (Greatest Common Divisor) of two numbers.

In [36]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
if num1 < num2:
    smaller = num1
else:
    smaller = num2
for i in range(1, smaller + 1):
    if num1 % i == 0 and num2 % i == 0:
        gcd = i 
print("The GCD of", num1, "and", num2, "is:", gcd)

Enter the first number:  12
Enter the second number:  18

The GCD of 12 and 18 is: 6

In [15]:
n1=int(input())
n2=int(input())
if n1<n2:
    small=n1
elif(n2>n1):
    small=n2
for i in range(1,small+1):
    if(n1%i==0 and n2%i==0):
        gcd=i
        print("the gcd of", n1, "and", n2 ,"is:",gcd)

 12
 24

the gcd of 12 and 24 is: 1
the gcd of 12 and 24 is: 2
the gcd of 12 and 24 is: 3
the gcd of 12 and 24 is: 4
the gcd of 12 and 24 is: 6
the gcd of 12 and 24 is: 12

# 23.Find the LCM (Least Common Multiple) of two numbers

In [2]:
n1=int(input("enter the first number:"))
n2=int(input("enter the second number:"))
if n1>n2:
    big=n1
else:
    big=n2
while True:
  if(big %n1==0 and big %n2==0):
     lcm=big
     print("the lcm of",n1,"and" ,n2,"is:",lcm)
     break
  big+=1

enter the first number: 4
enter the second number: 6

the lcm of 4 and 6 is: 12

# 24.Print a simple right-angled triangle pattern using * (e.g., 5 rows).

In [9]:
rows=5
for i in range(1,rows+1):
    print("*"*i)

*
**
***
****
*****

# 25.Print an inverted right-angled triangle pattern using *.

In [8]:
rows=6
for i in range(rows,0,-1):
    print(i*"*")

******
*****
****
***
**
*

# 26.Print a pyramid pattern using *.

In [11]:
rows = 5

for i in range(1, rows + 1):
    spaces = rows - i
    stars = 2 * i - 1
    print(" " * spaces + "*" * stars)

    *
   ***
  *****
 *******
*********

 # 27.Print a diamond pattern using * (for an odd number of rows).

In [12]:
rows = 7 
mid = rows // 2 + 1 
for i in range(1, mid + 1):
    spaces = mid - i
    stars = 2 * i - 1
    print(" " * spaces + "*" * stars)
for i in range(mid - 1, 0, -1):
    spaces = mid - i
    stars = 2 * i - 1
    print(" " * spaces + "*" * stars)

   *
  ***
 *****
*******
 *****
  ***
   *

# 28.Print all letters in the English alphabet (a-z) using a loop.

In [31]:
for i in range(97,123):  # it has range of ascii value for alphabet a-z
    print(chr(i),end="")

abcdefghijklmnopqrstuvwxyz

# 29.Calculate the area of a circle given its radius.

In [37]:
 import math
radius=float(input("enter the radius of circle:"))
area = math.pi*radius**2
print("the area of the circle is :",area)

enter the radius of circle: 7

the area of the circle is : 153.93804002589985

# 30.Convert temperature from Celsius to Fahrenheit and vice-versa

In [53]:
celsius = float(input("enter the temperature in celsius:"))
fahrenheit = (celsius*9/5)+32
print("temperature fahrenheit:",fahrenheit)
fahrenheit = float(input("enter the temperature in fahrenheit:"))
celsius = (fahrenheit-35)*5/9
print("temperature celsius:",celsius)

enter the temperature in celsius: 34.9

temperature fahrenheit: 94.82

enter the temperature in fahrenheit: 94.82

temperature celsius: 33.23333333333333